*.edj
*.o
*.swo
*.swp
*~
/po/*.gmo
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/src/bin/*_generated.c
/src/bin/*_generated.h
/src/bin/.deps/
/src/bin/lz4/.deps/
/src/bin/lz4/.dirstamp
/src/bin/md5/.deps/
/src/bin/md5/.dirstamp
/src/bin/terminology
/src/bin/tyalpha
/src/bin/tybg
/src/bin/tycat
/src/bin/tyfuzz
/src/bin/tyls
/src/bin/typop
/src/bin/tyq
/build
