*~
*.swo
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/desktop/Makefile
data/desktop/Makefile.in
data/fonts/Makefile
data/fonts/Makefile.in
data/icons/Makefile
data/icons/Makefile.in
data/images/Makefile
data/images/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default.edj
data/themes/mild.edj
data/themes/black.edj
data/themes/images/Makefile
data/themes/images/Makefile.in
depcomp
install-sh
ls
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/terminology
src/bin/*_generated.c
src/bin/*_generated.h
stamp-h1
terminology_config.h
terminology_config.h.in
terminology.spec
*.o
