*~
*.o
*.swo
*.swp
*.edj
/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/terminology_config.h
/terminology_config.h.in
/terminology.spec
/autom4te.cache/
Makefile
Makefile.in
/m4/gettext.m4
/m4/iconv.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/po/*.gmo
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/stamp-po
/src/bin/.deps/
/src/bin/terminology
/src/bin/tycat
/src/bin/tyls
/src/bin/tyalpha
/src/bin/tybg
/src/bin/typop
/src/bin/tyq
/src/bin/*_generated.c
/src/bin/*_generated.h
/src/bin/lz4/.deps/
/src/bin/lz4/.dirstamp
/pkgbuild/PKGBUILD
/pkgbuild/pkg
/pkgbuild/src
/pkgbuild/*.tar.xz
