# This cleans up all kind of different spellings, typos and different email
# addresses for commit authors. It makes git shortlog statistics more meaningful.
#
# More people can be added following this scheme:
# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
#
# Please keep this file in sync between efl, e and terminology.

Carsten Haitzler <raster@rasterman.com> Carsten Haitzler (Rasterman) <raster@rasterman.com>
Cedric BAIL <cedric.bail@free.fr> Cedric Bail <cedric.bail@samsung.com>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <cedric.bail@samsung.com>
Cedric BAIL <cedric.bail@free.fr> Cedric Bail <cedric.bail@free.fr>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <cedric@efl.so>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <c.bail@partner.samsung.com>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <cedric@osg.samsung.com>
Vincent Torri <vincent.torri@gmail.com> Vincent Torri <vtorri@univ-evry.fr>
Vincent Torri <vincent.torri@gmail.com> Vincent Torri <vincent dot torri at gmail dot com>
Vincent Torri <vincent.torri@gmail.com> Vincent Torri <vincent.torri@univ-evry.fr>
Vincent Torri <vincent.torri@gmail.com> Vincent 'vtorri' Torri <vincent.torri@gmail.com>
Tom Hacohen <tom@stosb.com> Tom 'TAsn' Hacohen <tom@stosb.com>
Tom Hacohen <tom@stosb.com> Tom <tom@stosb.com>
Gustavo Sverzut Barbieri <barbieri@gmail.com> Gustavo Sverzut Barbieri <barbieri@profusion.mobi>
Gustavo Sverzut Barbieri <barbieri@gmail.com> Gustavo Sverzut Barbieri <gustavo.barbieri@intel.com>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cpmichael@comcast.net>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cp.michael@samsung.com>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cpmichael1@comcast.net>
Christopher Michael <devilhorns@comcast.net> Chris Michael <devilhorns@comcast.net>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <devilhorns@comcast.net>
Christopher Michael <devilhorns@comcast.net> Christopher <devilhorns@comcast.net>
Christopher Michael <devilhorns@comcast.net> Chris Michael <cp.michael@samsung.com>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cpmichael@osg.samsung.com>
Christopher Michael <devilhorns@comcast.net> Chris Michael <cpmichael@osg.samsung.com>
Christopher Michael <devilhorns@comcast.net> Chris Micheal <cp.michael@samsung.com>
Sebastian Dransfeld <sd@tango.flipp.net> Sebastian Dransfeld <sebastian.dransfeld@sintef.no>
Sebastian Dransfeld <sd@tango.flipp.net> sebastid <sebastid>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <m.blumenkran@samsung.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> discomfitor <michael.blumenkrantz@gmail.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> zmike <michael.blumenkrantz@gmail.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <zmike@samsung.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <zmike@osg.samsung.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Michael Blumenkrantz <mike@zentific.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <zmike@enlightenment.org>
ChunEon Park <hermet@hermet.pe.kr> ChunEon Park <chuneon.park@samsung.com>
ChunEon Park <hermet@hermet.pe.kr> Hermet Park <hermet@hermet.pe.kr>
ChunEon Park <hermet@hermet.pe.kr> Hermet Park <hermetpark@gmail.com>
ChunEon Park <hermet@hermet.pe.kr> hermet <hermet@neoni.(none)>
ChunEon Park <hermet@hermet.pe.kr> Hermet <hermet@hermet.pe.kr>
ChunEon Park <hermet@hermet.pe.kr> chuneon.park <chuneon.park@samsung.com>
David Walter Seikel <onefang@gmail.com> David Walter Seikel <won_fang@yahoo.com.au>
Rafael Antognolli <antognolli@gmail.com> Rafael Antognolli <rafael.antognolli@intel.com>
Rafael Antognolli <antognolli@gmail.com> Rafael Antognolli <rafael.antognolli@linux.intel.com>
Iván Briano <sachieru@gmail.com> Ivan Briano <ivan.briano@intel.com>
Iván Briano <sachieru@gmail.com> Ivan Briano <sachieru@gmail.com>
Iván Briano <sachieru@gmail.com> Iván Briano <ivan.briano@intel.com>
Iván Briano <sachieru@gmail.com> Ivan Briano <ivan@profusion.mobi>
Lucas De Marchi <lucas.demarchi@profusion.mobi> Lucas De Marchi <lucas.de.marchi@gmail.com>
Lucas De Marchi <lucas.demarchi@profusion.mobi> Lucas De Marchi <lucas.demarchi@intel.com>
Jihoon Kim <imfine98@gmail.com> Jihoon Kim <jihoon48.kim@samsung.com>
Stefan Schmidt <stefan@datenfreihafen.org> Stefan Schmidt <s.schmidt@samsung.com>
Stefan Schmidt <stefan@datenfreihafen.org> Stefan Schmidt <stefan@osg.samsung.com>
Jonas M. Gastal <jgastal@profusion.mobi> Jonas Gastal <jgastal@profusion.mobi>
Daniel Juyung Seo <seojuyung2@gmail.com> Daniel Juyung Seo <juyung.seo@samsung.com>
Daniel Juyung Seo <seojuyung2@gmail.com> Daniel Juyung Seo <seojuyung@gmail.com>
Daniel Willmann <daniel@totalueberwachung.de> Daniel Willmann <d.willmann@samsung.com>
Gustavo Lima Chaves <glima@profusion.mobi> Gustavo Lima Chaves <gustavo.lima.chaves@intel.com>
José Roberto de Souza <zehortigoza@profusion.mobi> José Roberto de Souza <jose.souza@intel.com>
José Roberto de Souza <zehortigoza@profusion.mobi> José Roberto de Souza <zezsouza@gmail.com>
José Roberto de Souza <zehortigoza@profusion.mobi> José Roberto de Souza <zehortigoza@gmail.com>
Mike McCormack <mike@atratus.org> Mike McCormack <mj.mccormack@ring3k.org>
Mike McCormack <mike@atratus.org> Mike McCormack <mj.mccormack@samsung.com>
Mike McCormack <mike@atratus.org> Mike McCormack <mikem@ring3k.org>
Mike McCormack <mike@atratus.org> Mike McCormack <mikem@atratus.org>
Boris Faure <billiob@gmail.com> Boris 'billiob' Faure <billiob@gmail.com>
Boris Faure <billiob@gmail.com> Boris Faure <boris@fau.re>
Eduardo Lima <eduardo.lima@intel.com> Eduardo Lima (Etrunko) <eduardo.lima@intel.com>
Panagiotis Galatsanos <galatsanosp@gmail.com> Godfath3r <galatsanosp@gmail.com>
Samuel F. Baggen <thanatermesis@gmail.com> Thanatermesis <thanatermesis@gmail.com>
Samuel F. Baggen <thanatermesis@gmail.com> Samuel F. Baggen <thanatermesis.elive@gmail.com>
Samuel F. Baggen <thanatermesis@gmail.com> Thanatermesis <thanatermesis.ecvs@gmail.com>
Jean Guyomarc'h <jeanguyomarch.github@gmail.com> Jean Guyomarc'h <jean.guyomarch@gmail.com>
Jean Guyomarc'h <jeanguyomarch.github@gmail.com> Jean GUYOMARC'H <jean.guyomarch@gmail.com>
Jean Guyomarc'h <jeanguyomarch.github@gmail.com> Jean Guyomarc'h <jean.guyomarch@openwide.fr>
Jean Guyomarc'h <jeanguyomarch.github@gmail.com> Jean Guyomarc'h <jean@guyomarch.bzh>
Marcel Hollerbach <mail@marcel-hollerbach.de> Marcel Hollerbach <marcel.hollerbach@stzedn.de>
Marcel Hollerbach <mail@marcel-hollerbach.de> Marcel Hollerbach <marcel-hollerbach@t-online.de>
Marcel Hollerbach <mail@marcel-hollerbach.de> Marcel Hollerbach <marcel@osg.samsung.com>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe Andre <jp.andre@samsung.com>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe ANDRE <jpeg@videolan.org>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe Andre <jpeg@videolan.org>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe André <jpeg@videolan.org>
Amitesh Singh <amitesh.sh@samsung.com> Amitesh Singh <amitesh.sh@samsung.com>
Amitesh Singh <amitesh.sh@samsung.com> ami <singh.amitesh@gmail.com>
Amitesh Singh <amitesh.sh@samsung.com> Amitesh Singh <singh.amitesh@gmail.com>
Tae-Hwan Kim <the81.kim@samsung.com> bluezery <ohpowel@gmail.com>
Tae-Hwan Kim <the81.kim@samsung.com> Bluezery <ohpowel@gmail.com>
Tae-Hwan Kim <the81.kim@samsung.com> bluezery <the81.kim@samsung.com>
Daniel Kolesa <daniel@octaforge.org> q66 <quaker66@gmail.com>
Daniel Kolesa <daniel@octaforge.org> q66 <d.kolesa@samsung.com>
Daniel Kolesa <daniel@octaforge.org> q66 <d.kolesa@osg.samsung.com>
Daniel Kolesa <daniel@octaforge.org> Daniel Kolesa <quaker66@gmail.com>
Daniel Kolesa <daniel@octaforge.org> Daniel Kolesa <d.kolesa@samsung.com>
Daniel Kolesa <daniel@octaforge.org> Daniel Kolesa <d.kolesa@osg.samsung.com>
Wonguk Jeong <wonguk.jeong@samsung.com> Wonguk Jeong <huchijwk@gmail.com>
Wonguk Jeong <wonguk.jeong@samsung.com> wonguk.jeong <wonguk.jeong@samsung.com>
Kai Huuhko <kai.huuhko@gmail.com> Kai Huuhko <k.huuhko@partner.samsung.com>
Massimo Maiurana <maiurana@gmail.com> maxerba <maiurana@gmail.com>
Lee Gwang-O <maeryo@live.co.kr> Gwang O Lee <pu8046@gmail.com>
Thibaut Broggi <broggi_t@epitech.eu> broggi_t <broggi_t@epitech.eu>
Daniel Zaoui <daniel.zaoui@samsung.com> Daniel Zaoui <daniel.zaoui@yahoo.com>
Daniel Zaoui <daniel.zaoui@samsung.com> daniel.zaoui@samsung.com <daniel.zaoui@samsung.com>
Jérémy Anger <angerj.dev@gmail.com> kidanger <angerj.dev@gmail.com>
Andy Williams <andy@andywilliams.me> handyande <handyande>
Andy Williams <andy@andywilliams.me> Andy Williams <andy@andywillias.me>
Davide Andreoli <dave@gurumeditation.it> Dave Andreoli <dave@gurumeditation.it>
Davide Andreoli <dave@gurumeditation.it> davemds <dave@gurumeditation.it>
Simon Lees <simon@simotek.net> Simon <simon@simotek.net>
Simon Lees <simon@simotek.net> Simon Lees (SUSE) <sflees@suse.de>
Subhransu Mohanty <sub.mohanty@samsung.com> SubhransuSekhar Mohanty <sub.mohanty@samsung.com>
Subhransu Mohanty <sub.mohanty@samsung.com> Subhransu Sekhar Mohanty <sub.mohanty@samsung.com>
Subhransu Mohanty <sub.mohanty@samsung.com> SubhransuSekhar Mohanty <sub.mohanty@samsung.com>
Subhransu Mohanty <sub.mohanty@samsung.com> sub.mohanty@samsung.com <sub.mohanty@samsung.com>
Subhransu Mohanty <sub.mohanty@samsung.com> subhransu <subhransu@subhransu-System.(none)>
Subhransu Mohanty <sub.mohanty@samsung.com> subhransu mohanty <sub.mohanty@samsung.com>
Thiep Ha <thiepha@gmail.com> Thiep Ha <thiep.ha@samsung.com>
Thiep Ha <thiepha@gmail.com> Thiep Ha <thiep.ha@gmail.com>
Thiep Ha <thiepha@gmail.com> thiepha (Thiep Ha) <thiepha@gmail.com>
Derek Foreman <derekf@osg.samsung.com> Derek Foreman <derek.foreman.samsung@gmail.com>
Daniel Hirt <hirt.danny@gmail.com> Daniel Hirt <daniel.hirt@samsung.com>
Jiyoun Park <jijibe99@gmail.com> Ji-Youn Park <jy0703.park@samsung.com>
Jiyoun Park <jijibe99@gmail.com> Jiyoun Park <jy0703.park@samsung.com>
Bruno da Silva Belo <brunodasilvabelo@gmail.com> Bruno da Silva Belo <bruno.belo@expertisesolutions.com.br>
Rafael Fonseca <rfonseca@profusion.mobi> Rafael Fonseca <r4f4rfs@gmail.com>
Lauro Moura <lauromoura@expertisesolutions.com.br> Lauro Moura <lauromoura@gmail.com>
Jaehyun Cho <jae_hyun.cho@samsung.com> Jaehyun Cho <jae_hyun_cho@naver.com>
Jérémy Zurcher <jeremy@asynk.ch> Jeremy Zurcher <jeremy@asynk.ch>
Youngbok Shin <youngb.shin@samsung.com> Youngbok Shin <youngb.shin@samsung.net>
Stephen 'Okra' Houston <smhouston88@gmail.com> Stephen okra Houston <smhouston88@gmail.com>
Stephen 'Okra' Houston <smhouston88@gmail.com> Stephen Houston <smhouston88@gmail.com>
Stephen 'Okra' Houston <smhouston88@gmail.com> Stephen Houston <stephen@localhost.localdomain>
Stephen 'Okra' Houston <smhouston88@gmail.com> Stephen Houston <stephen@lenovo.fedora>
Stephen 'Okra' Houston <smhouston88@gmail.com> Stephen Houston <stephen@stephen.laptop>
WooHyun Jung <wh0705.jung@samsung.com> WooHyun Jung <woohyun0705@gmail.com>
Jaeun Choi <jaeun12.choi@samsung.com> Jaeun Choi <jaeun_choi@naver.com>
Michael BOUCHAUD <michael.bouchaud@gmail.com> Michael Bouchaud (yoz) <yoz@efl.so>
Michael BOUCHAUD <michael.bouchaud@gmail.com> Michael Bouchaud <yoz@efl.so>
Michael BOUCHAUD <michael.bouchaud@gmail.com> michael bouchaud <michael.bouchaud@gmail.com>
Michael Jennings <mej@kainx.org> Michael Jennings <mej@lbl.gov>
Taehyub Kim <taehyub.kim@samsung.com> taehyub <taehyub.kim@samsung.com>
Yury Usishchev <y.usishchev@samsung.com> Yury Usischev <y.usishchev@samsung.com>
Lukasz Stanislawski <l.stanislaws@samsung.com> Lukasz Stanislawski <l.stanislaws@AMDC2785.digital.local>
Lukasz Stanislawski <l.stanislaws@samsung.com> Lukasz Stanislawski <lukasz.stanislawski@gmail.com>
Ryuan Choi <ryuan.choi@gmail.com> Ryuan Choi <ryuan.choi@samsung.com>
Bryce Harrington <bryce@osg.samsung.com> Bryce Harrington <bryce@bryceharrington.org>
Jonathan Atton <jonathan.atton@gmail.com> Atton Jonathan <jonathan.atton@gmail.com>
Yeongjong Lee <yj34.lee@samsung.com> YeongJong Lee <yj34.lee@samsung.com>
Jaehwan Kim <jae.hwan.kim@samsung.com> Jaehwan Kim <jae.hwan.kim.neo@gmail.com>
Jaehwan Kim <jae.hwan.kim@samsung.com> Jae Hwan Kim <jae.hwan.kim@samsung.com>
Jaehwan Kim <jae.hwan.kim@samsung.com> 김재환 <jae.hwan.kim@samsung.com>
Jee-Yong Um <jc9.um@samsung.com> Jeeyong Um <jc9.um@samsung.com>
Savio Sena <savio@expertisesolutions.com.br> Savio S. Machado <savio.sena@acm.org>
Savio Sena <savio@expertisesolutions.com.br> Savio Sena <savio.sena@acm.org>
