# This cleans up all kind of different spellings, typos and different email
# addresses for commit authors. It makes git shortlog statistics more meaningful.
#
# More people can be added following this scheme:
# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
#
# Please keep this file in sync between efl, e and terminology.

Carsten Haitzler <raster@rasterman.com> Carsten Haitzler (Rasterman) <raster@rasterman.com>
Cedric BAIL <cedric.bail@free.fr> Cedric Bail <cedric.bail@samsung.com>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <cedric.bail@samsung.com>
Cedric BAIL <cedric.bail@free.fr> Cedric Bail <cedric.bail@free.fr>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <cedric@efl.so>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <c.bail@partner.samsung.com>
Cedric BAIL <cedric.bail@free.fr> Cedric BAIL <cedric@osg.samsung.com>
Vincent Torri <vincent.torri@gmail.com> Vincent Torri <vtorri@univ-evry.fr>
Vincent Torri <vincent.torri@gmail.com> Vincent Torri <vincent dot torri at gmail dot com>
Vincent Torri <vincent.torri@gmail.com> Vincent Torri <vincent.torri@univ-evry.fr>
Tom Hacohen <tom@stosb.com> Tom 'TAsn' Hacohen <tom@stosb.com>
Tom Hacohen <tom@stosb.com> Tom <tom@stosb.com>
Gustavo Sverzut Barbieri <barbieri@gmail.com> Gustavo Sverzut Barbieri <barbieri@profusion.mobi>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cpmichael@comcast.net>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cp.michael@samsung.com>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cpmichael1@comcast.net>
Christopher Michael <devilhorns@comcast.net> Chris Michael <devilhorns@comcast.net>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <devilhorns@comcast.net>
Christopher Michael <devilhorns@comcast.net> Christopher <devilhorns@comcast.net>
Christopher Michael <devilhorns@comcast.net> Chris Michael <cp.michael@samsung.com>
Christopher Michael <devilhorns@comcast.net> Christopher Michael <cpmichael@osg.samsung.com>
Christopher Michael <devilhorns@comcast.net> Chris Michael <cpmichael@osg.samsung.com>
Sebastian Dransfeld <sd@tango.flipp.net> Sebastian Dransfeld <sebastian.dransfeld@sintef.no>
Sebastian Dransfeld <sd@tango.flipp.net> sebastid <sebastid>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <m.blumenkran@samsung.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> discomfitor <michael.blumenkrantz@gmail.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> zmike <michael.blumenkrantz@gmail.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <zmike@samsung.com>
Mike Blumenkrantz <michael.blumenkrantz@gmail.com> Mike Blumenkrantz <zmike@osg.samsung.com>
ChunEon Park <hermet@hermet.pe.kr> ChunEon Park <chuneon.park@samsung.com>
ChunEon Park <hermet@hermet.pe.kr> Hermet Park <hermet@hermet.pe.kr>
David Walter Seikel <onefang@gmail.com> David Walter Seikel <won_fang@yahoo.com.au>
Rafael Antognolli <antognolli@gmail.com> Rafael Antognolli <rafael.antognolli@intel.com>
Rafael Antognolli <antognolli@gmail.com> Rafael Antognolli <rafael.antognolli@linux.intel.com>
Iván Briano <sachieru@gmail.com> Ivan Briano <ivan.briano@intel.com>
Iván Briano <sachieru@gmail.com> Ivan Briano <sachieru@gmail.com>
Lucas De Marchi <lucas.demarchi@profusion.mobi> Lucas De Marchi <lucas.de.marchi@gmail.com>
Lucas De Marchi <lucas.demarchi@profusion.mobi> Lucas De Marchi <lucas.demarchi@intel.com>
Jihoon Kim <imfine98@gmail.com> Jihoon Kim <jihoon48.kim@samsung.com>
Stefan Schmidt <stefan@datenfreihafen.org> Stefan Schmidt <s.schmidt@samsung.com>
Stefan Schmidt <stefan@datenfreihafen.org> Stefan Schmidt <stefan@osg.samsung.com>
Jonas M. Gastal <jgastal@profusion.mobi> Jonas Gastal <jgastal@profusion.mobi>
Daniel Juyung Seo <seojuyung2@gmail.com> Daniel Juyung Seo <juyung.seo@samsung.com>
Daniel Juyung Seo <seojuyung2@gmail.com> Daniel Juyung Seo <seojuyung@gmail.com>
Daniel Willmann <daniel@totalueberwachung.de> Daniel Willmann <d.willmann@samsung.com>
Gustavo Lima Chaves <glima@profusion.mobi> Gustavo Lima Chaves <gustavo.lima.chaves@intel.com>
José Roberto de Souza <zehortigoza@profusion.mobi> José Roberto de Souza <jose.souza@intel.com>
José Roberto de Souza <zehortigoza@profusion.mobi> José Roberto de Souza <zezsouza@gmail.com>
José Roberto de Souza <zehortigoza@profusion.mobi> José Roberto de Souza <zehortigoza@gmail.com>
Mike McCormack <mike@atratus.org> Mike McCormack <mj.mccormack@ring3k.org>
Mike McCormack <mike@atratus.org> Mike McCormack <mj.mccormack@samsung.com>
Mike McCormack <mike@atratus.org> Mike McCormack <mikem@ring3k.org>
Mike McCormack <mike@atratus.org> Mike McCormack <mikem@atratus.org>
Boris Faure <billiob@gmail.com> Boris 'billiob' Faure <billiob@gmail.com>
Eduardo Lima <eduardo.lima@intel.com> Eduardo Lima (Etrunko) <eduardo.lima@intel.com>
Panagiotis Galatsanos <galatsanosp@gmail.com> Godfath3r <galatsanosp@gmail.com>
Samuel F. Baggen <thanatermesis@gmail.com> Thanatermesis <thanatermesis@gmail.com>
Samuel F. Baggen <thanatermesis@gmail.com> Samuel F. Baggen <thanatermesis.elive@gmail.com>
Samuel F. Baggen <thanatermesis@gmail.com> Thanatermesis <thanatermesis.ecvs@gmail.com>
Jean Guyomarc'h <jean.guyomarch@gmail.com> Jean GUYOMARC'H <jean.guyomarch@gmail.com>
Marcel Hollerbach <marcel-hollerbach@t-online.de> Marcel Hollerbach <marcel.hollerbach@stzedn.de>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe Andre <jp.andre@samsung.com>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe ANDRE <jpeg@videolan.org>
Jean-Philippe ANDRÉ <jpeg@videolan.org> Jean-Philippe Andre <jpeg@videolan.org>
Amitesh Singh <amitesh.sh@samsung.com> Amitesh Singh <amitesh.sh@samsung.com>
Amitesh Singh <amitesh.sh@samsung.com> ami <singh.amitesh@gmail.com>
Amitesh Singh <amitesh.sh@samsung.com> Amitesh Singh <singh.amitesh@gmail.com>
Tae-Hwan Kim <the81.kim@samsung.com> bluezery <ohpowel@gmail.com>
Tae-Hwan Kim <the81.kim@samsung.com> Bluezery <ohpowel@gmail.com>
Daniel Kolesa <daniel@octaforge.org> q66 <quaker66@gmail.com>
Daniel Kolesa <daniel@octaforge.org> q66 <d.kolesa@samsung.com>
Daniel Kolesa <daniel@octaforge.org> q66 <d.kolesa@osg.samsung.com>
Daniel Kolesa <daniel@octaforge.org> Daniel Kolesa <quaker66@gmail.com>
Daniel Kolesa <daniel@octaforge.org> Daniel Kolesa <d.kolesa@samsung.com>
Daniel Kolesa <daniel@octaforge.org> Daniel Kolesa <d.kolesa@osg.samsung.com>
Wonguk Jeong <wonguk.jeong@samsung.com> Wonguk Jeong <huchijwk@gmail.com>
Wonguk Jeong <wonguk.jeong@samsung.com> wonguk.jeong <wonguk.jeong@samsung.com>
Kai Huuhko <kai.huuhko@gmail.com> Kai Huuhko <k.huuhko@partner.samsung.com>
Massimo Maiurana <maiurana@gmail.com> maxerba <maiurana@gmail.com>
Lee Gwang-O <maeryo@live.co.kr> Gwang O Lee <pu8046@gmail.com>
Thibaut Broggi <broggi_t@epitech.eu> broggi_t <broggi_t@epitech.eu>
Daniel Zaoui <daniel.zaoui@samsung.com> Daniel Zaoui <daniel.zaoui@yahoo.com>
Daniel Zaoui <daniel.zaoui@samsung.com> daniel.zaoui@samsung.com <daniel.zaoui@samsung.com>
Jérémy Anger <angerj.dev@gmail.com> kidanger <angerj.dev@gmail.com>
Andy Williams <andy@andywilliams.me> handyande <handyande>
Davide Andreoli <dave@gurumeditation.it> Dave Andreoli <dave@gurumeditation.it>
Davide Andreoli <dave@gurumeditation.it> davemds <dave@gurumeditation.it>
