[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Terminology
Generic=Terminal
Generic[it]=Terminale
Generic[ru]=Терминал
Comment=Terminal emulator
Comment[es]=Emulador de terminal
Comment[gl]=Emulador de terminal
Comment[it]=Emulatore di terminale
Comment[pt]=Emulador de terminal
Comment[ru]=Эмулятор терминала
Exec=terminology
Icon=terminology.png
Categories=Utility;TerminalEmulator;
StartupWMClass=terminology
